<section class="flex flex-col items-center justify-center w-full h-full">
    <h1 class="text-3xl text-center text-green-600 font-medium">Register now</h1>
    <form [formGroup]="register" (ngSubmit)="submitForm()">
        
    <div class="mb-6">
        @let nameControl = register.get('name');
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">username</label>
        <input type="text" id="name" formControlName="name" class="bg-white border border-gray-300 to-gray-900 text-sm rounded-lg focus:ring-blue-500">
        @if (nameControl?.errors && nameControl?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                      @if (nameControl?.getError('required')) {
                          <li>name is requierd</li>
                      }
                        @if (nameControl?.getError('minlength')) {
                            <li>name is minLength: 3</li>
                        }
                        @if (nameControl?.getError('maxlength')) {
                            <li>name is maxLength: 20</li>
                        }
                  </ul>
                </div>
              </div>
        }
    </div>
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">email</label>
        <input type="email" id="email" formControlName="email" class="bg-white border border-gray-300 to-gray-900 text-sm rounded-lg focus:ring-blue-500">
        @if (register.get('email')?.errors && register.get('email')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                      @if (register.get('email')?.getError('required')) {
                          <li>email is requierd</li>
                      }
                        @else if (register.get('email')?.getError('minlength')) {
                            <li>email is minLength: 3</li>
                        }
                        @else if (register.get('email')?.getError('maxlength')) {
                            <li>email is maxLength: 20</li>
                        }
                  </ul>
                </div>
              </div>
        }
    </div>
    <div class="mb-6">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">password</label>
        <input type="text" id="password" formControlName="password" class="bg-white border border-gray-300 to-gray-900 text-sm rounded-lg focus:ring-blue-500">
        @if (register.get('password')?.errors && register.get('password')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                      @if (register.get('password')?.getError('touched')) {
                          <li>password is requierd</li>
                      }
                        @if (register.get('password')?.getError('minlength')) {
                            <li>password is minLength: 3</li>
                        }
                        @if (register.get('password')?.getError('maxlength')) {
                            <li>password is maxLength: 20</li>
                        }
                  </ul>
                </div>
              </div>
        }
    </div>
    <div class="mb-6">
        <label for="confirmpassword" class="block mb-2 text-sm font-medium text-gray-900">confirmpassword</label>
        <input type="text" id="confirmpassword" formControlName="rePassword" class="bg-white border border-gray-300 to-gray-900 text-sm rounded-lg focus:ring-blue-500">
        @if (register.get('repassword')?.errors && register.get('repassword')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                      @if (register.get('repassword')?.getError('mismatch') && register.get('repassword')?.touched) {
                          <li>password confirmpassword is not correct</li>
                      }
                  </ul>
                </div>
              </div>
        }
    </div>
    <div class="mb-6">
        <label for="phone" class="block mb-2 text-sm font-medium text-gray-900">phone</label>
        <input type="text" id="phone" formControlName="phone" class="bg-white border border-gray-300 to-gray-900 text-sm rounded-lg focus:ring-blue-500">
        @if (register.get('phone')?.errors && register.get('phone')?.touched) {
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Danger</span>
                <div>
                    <ul class="mt-1.5 list-disc list-inside">
                      @if (register.get('phone')?.getError('required')) {
                          <li>phone is requierd</li>
                      }
                        @if (register.get('phone')?.getError('minlength')) {
                            <li>phone is minLength: 3</li>
                        }
                        @if (register.get('phone')?.getError('maxlength')) {
                            <li>phone is maxLength: 20</li>
                        }
                  </ul>
                </div>
              </div>
        }
    </div>
    <button [disabled]="isLoading" type="submit" class="btn-main">SignUp
      @if (isLoading) {
        <i class="fas fa-spin fa-spinner"></i>
      }
    </button>
    @if (msgError) {
      <p class="bg-red-400 text-white px-2 py-4 border"> {{msgError}} </p>
    }
    </form>

</section>
